
body{
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper {
  height: 100%;
  width: 100%;
  margin-top: -40px;
}
.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  width: 1416px;
  height: 1416px;
  left: -438px;
  top: -126px;
  position: absolute;
  background: #A9A7FD;
  border-radius: 50%;
}
.content {
  height: 350px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.loginValues {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
input{
  border: none;
  outline:none;
  z-index: 11;
  background: transparent;
}
.password_control{
  cursor: pointer;
  right: 39%;
  top: 49%;
  width: 24px;
  height: 18px;
  position: absolute;
  background: url("../../images/Group 55.png") no-repeat;
}
.password_control_view{
  right: 39%;
  top: 49%;
  width: 24px;
  height: 18px;
  position: absolute;
  background: url("../../images/Group 56.png") no-repeat;
  cursor: pointer;
}
label{
  z-index: 12;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.loginValues input {
  color: #404040;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid black;
  -webkit-appearance: none;
  padding: 0;
  transition-duration: 0.4s ;
  margin-bottom: 20px;
}
.loginValues input:active{
  border-bottom: 2px solid black;
}
.title {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 84px;
  color: #404040;
  z-index: 10;
}
.blockButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blockButton button {
  background: #FFFFFF;
  border-radius: 50px;
  border: none;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  height: 50px;
  width: 180px;
  cursor: pointer;
  z-index: 11;
  transition-duration: 0.4s;
}
.blockButton button:nth-child(2){
  background: #827FFE;
  border: 1px solid #827FFE;
  border-radius: 50px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  height: 50px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockButton button:hover{
  scale: 1.1;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  z-index: 11;
  position: absolute;
  color: black;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  top: 4%;
  margin-left: 33px;
}
.error{
  z-index: 11;
  position: absolute;
  right: 2%;
  padding: 5px;
  top: 4%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  background: #F8D7DA;
  border: 1px solid #F5C2C7;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #842029;
}
.errorHide{
  z-index: 11;
  position: absolute;
  right: -45%;
  padding: 5px;
  top: 4%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  background: #F8D7DA;
  border: 1px solid #F5C2C7;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #842029;
  transition:left 2s ease-in-out;
}


/*# sourceMappingURL=LoginPage.module.css.map */
